/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= encoding UTF-8
*= require mobile
*= require_self
*/

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	        margin:0;
	white-space:normal;
	word-wrap:break-word;
	word-break:break-all;
}
html {
	height: 100%;
	width: 100%;
}
body {
	position:relative;
	min-height:100%;
}
.borderRadius {
	border-radius:5px;
	-moz-border-radius:5px; /* 老的 Firefox */
}
.verticalAlignBottom {
	vertical-align:bottom;
}
.relative {
	position:relative;
}
.separator {
	padding:0 11px;
}
.bold {
	font-weight:bold;
}
.inlineBlock {
	display:inline-block;
}
.clearfix:after {
	content:"";
	display:block; 
	height:0; 
	visibility:hidden; 
	clear:both;
}
.fa {
	padding-right:8px;
	vertical-align: middle;
}
.fa-1_5 {
  font-size: 1.5em;
}
.fa-2 {
  font-size: 2em;
}
.fa-3 {
  font-size: 4em;
}
.fa-4 {
  font-size: 7em;
}
.fa-5 {
  font-size: 12em;
}
.fa-6 {
  font-size: 20em;
}
.shengXiao {
	background-image: url("SuCai/十二生肖.png");
	width:150px;
	height:150px;
}
.shengXiao.shu {
	background-position:0 0;
}
.shengXiao.niu {
	background-position:-150px 0;
}
.shengXiao.hu {
	background-position:-300px 0;
}
.shengXiao.tu {
	background-position:-450px 0;
}
.shengXiao.long {
	background-position:0 -150px;
}
.shengXiao.she {
	background-position:-150px -150px;
}
.shengXiao.ma {
	background-position:-300px -150px;
}
.shengXiao.yang {
	background-position:-450px -150px;
}
.shengXiao.hou {
	background-position:0 -300px;
}
.shengXiao.ji {
	background-position:-150px -300px;
}
.shengXiao.gou {
	background-position:-300px -300px;
}
.shengXiao.zhu {
	background-position:-450px -300px;
}
.pagination {
	border-top: 0;
	margin: 0;
	padding: 0.3em 0.2em;
	text-align: center;
	width:100%;
}
.pagination a,
.pagination .currentStep {
	color: black;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
	text-decoration: underline;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	color: black;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
.pagination .currentStep {
	font-weight:bold;
	font-size:22px;
}
.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}
.footer {
	position: absolute;
	bottom: 0;
	left:0;
	width: 100%;
	padding: 40px 0;
	color: #999;
	text-align: center;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
	margin-top:30px;
}
.footer li {
	float:left;
	height:30px;
	line-height:30px;
	margin:0;
	padding:0 7px;
}

/*-----------------------------------------------------------------------------------------------*/

.xuanZeWenJian {
	position:relative;width:180px;margin:0 auto;
}
.xuanZeWenJian [type=file] {
	position:absolute;
	left:0;
	top:0;
	width:180px;
	height:100%;
	padding:0;
	margin:0;
	opacity:0.0;
	filter:Alpha(opacity=0);
	cursor:pointer;
}
.messageBox {
	float:left;
	margin: 5px 0;
	line-height: 37px;
	height: 37px;
	color:black;
}
#spinner {
    position: fixed;
	top: 0;
	left:0;
	bottom:0;
	right: 0;
	width:180px;
	height:180px;
	margin:auto;
	z-index:1988;
	display:none;
}
#spinner .tiShi{
	position:absolute;
	right:0;
	bottom:30px;
}
#spinner img {
	width:180px;
	height:180px;
}
.cke_textarea_inline {
	padding: 10px;
	min-height: 300px;
	overflow: auto;
	border: 1px solid gray;
	-webkit-appearance: textfield;
}
.zIndexMax{
	z-index:1988 !important;
}
.paddingWrapper {
	padding: 30px 40px 70px 40px !important;
}
input {
	margin-bottom:9px !important;
}
input[type=submit] {
	margin-top:10px !important;
}
textarea {
	min-height:130px;
}
ul {
	list-style-type:none;
	padding-left:0;
}
img {
	max-width:100%;
}
.alert {
	margin-top:3px;
}
.largeBox {
	position:relative;
	box-shadow: 3px 3px 7px #333;
	padding:15px;
	min-height:350px;
	overflow: auto;
	margin-top:25px;
}
.smallBox {
	position:relative;
	min-height:70px;
	box-shadow: 3px 3px 7px lightgray;
	padding:15px;
	overflow: auto;
	margin-top:20px;
}
.preview {
	height: 530px;
	overflow: auto;
	margin: 10px 20px 30px 20px;
	font-weight: normal;
	color: gray;
	clear: both;
}

#nprogress .bar {
	z-index:1988;
	background: url(/assets/SuCai/loading.gif) #FF6100 repeat-y right;
	height: 5px;
}
#nprogress .peg {
	box-shadow:none;
}